        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
        * {
            font-family: 'Raleway', sans-serif;
            color: black;
        }
        
        html,
        body {
            margin: 0em;
            padding: 0em;
        }
        
        .nav ul {
            margin: 0em;
        }
        
        .nav li {
            display: inline;
        }
        
        .nav a {
            padding: 1em;
            color: #000000;
            text-decoration: none;
            display: inline-block;
        }
        
        .links a:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }
        
        .main-nav {
            text-align: center;
            font-size: 1.3em;
            font-weight: lighter;
            border-bottom: 1px solid;
        }
        
        .main-nav li {
            margin: 0 1.5%;
        }
        
        .main-header {
            background-color: white;
            background-size: cover;
        }
        
        .Quote {
            text-align: center;
            margin: 0em;
            font-size: 3em;
            font-family: 'Metal Mania', cursive;
        }
        
        .main-section {
            margin: 1em;
        }
        
        .container {
            max-width: 100%;
            margin: 0 auto;
            padding: 0 1.5em;
        }
        
        .offer {
            text-align: center;
            font-size: 30px;
            color: black;
        }